form {
    font-size: 16px;
    text-align: center;
}

mat-form-field {
    margin-inline: auto;
    padding-bottom: 5px;
    font-family: assistant;
    width: 220px;
}

button.submit-button {
    margin: auto;
    width: 250px;
    margin-block: 25px;
    background-color: #3373b3;
    color: #ffffff;
    font-size: 17px;
    font-family: assistant;
}

.wrap-list {
    display: grid;
    height: fit-content;
}

mat-list {
    width: 220px;
    margin-inline: auto;
    text-align: left;
}

.wrap-list-item-content {
    display: grid;
    grid-row-gap: 5px;
    margin-bottom: 15px;
}

.wrap-range {
    display: grid;
    grid-template-columns: 35% 8% 35% 15%;
    align-items: center;
    text-align: center;
}

.wrap-range > input[type=time] {
    height: 26px;
    font-size: 22px;
    font-weight: 400;
    font-family: assistant;
    padding: 2px;
    border-radius: 4px;
    border: solid 1px #8fbbe273;
}

.wrap-range > button mat-icon {
    color: #3373b3;
}

.selected-day {
    text-align: center;
    color: #3373b3;
    font-family: assistant;
    font-weight: 500;
    font-size: 18px;
}