<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="legacy">
    <mat-label>Select days:</mat-label>
    <mat-select #selectdays formControlName="day" (ngModelChange)="onNgModelChange($event)" multiple>
      <mat-option *ngFor="let item of dropdownList" [value]="item.item_id">{{item.item_text}}</mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container *ngFor="let daysFormGroup of formGroup['controls'].daytime['controls']; let i = index">
    <div class="wrap-list" [formGroup]="daysFormGroup">
      <mat-list #days role="list" style="height: fit-content;">
        <mat-list-item style="height: fit-content;" *ngFor="let day of selectedDays">

          <div class="wrap-list-item-content">
            <div class="selected-day">
              <p>{{dropdownList[day-1].item_text}}</p>
            </div>
            <div class="wrap-range">
              <input matInput #st type="time" step="900"><span> - </span> <input matInput #en type="time" step="900">
              <button mat-icon-button (click)="addhours(day,st.value,en.value)">
                <mat-icon>add_circle</mat-icon>
              </button>

            </div>
            <div class="wrap-range">
              <input matInput #st2 type="time" step="900"><span> - </span> <input matInput #en2 type="time" step="900">
              <button mat-icon-button (click)="addhours(day,st2.value,en2.value)">
                <mat-icon>add_circle</mat-icon>
              </button>
            </div>
          </div>

        </mat-list-item>
      </mat-list>
    </div>
  </ng-container>

  <div>
    <button mat-flat-button class="submit-button" (click)="addSchedule()">add schedule</button>

  </div>

</form>