<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Select days:</mat-label>
        <mat-select #selectdays formControlName="day" (ngModelChange)="onNgModelChange($event)"  multiple>
          <mat-option *ngFor="let item of dropdownList" [value]="item.item_id">{{item.item_text}}</mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container *ngFor="let daysFormGroup of formGroup['controls'].daytime['controls']; let i = index">
     <!-- <form formGroupName="formTGroups">-->
      <div [formGroup]="daysFormGroup" style="height: fit-content;">
           <mat-list #days role="list" style="height: fit-content;">
        <mat-list-item style="height: fit-content;"  *ngFor="let day of selectedDays">
            
            <div  style="padding: 3px;"> 
             <div>{{dropdownList[day-1].item_text}}:</div>
              <span style="font-size: small; color: red;">please choose time in quarter hours</span>
             <div>
                    <input #st type="time" step="900"><span> - </span>  <input #en  type="time" step="900" >
                                <button (click)="addhours(day,st.value,en.value)">Add</button>
              </div>
                <div>
                    <input #st2 type="time" step="900"><span> - </span>  <input #en2  type="time" step="900" >
                             <button (click)="addhours(day,st2.value,en2.value)">Add</button> 
                </div>

               <!-- <div>
                    <input [(ngModel)]="newDays[day].hours[1].sh" type="time" step="900"><span> - </span>  <input [(ngModel)]="newDays[day].hours[1].eh"  type="time" step="900" >
                </div>
                <button (click)="addhours(day)">Add</button>-->
            </div>

        </mat-list-item>
      </mat-list>
      </div>
</ng-container>      
     
<div >
  <button (click)="addSchedule()">add schedule</button>

</div>

  </form><!--
  <form [formGroup]="usersForm" (ngSubmit)="onSubmit()">
    <ng-container *ngFor="let userFormGroup of usersForm['controls'].users['controls']; let i = index">
      <div [formGroup]="userFormGroup">
            <label>
                First name:
                <input type="text" formControlName="firstName">
              </label>
              <label>
                Last name:
                <input type="text" formControlName="lastName">
              </label>
              <label>
                Email:
                <input type="text" formControlName="email">
              </label>
              <label>
                <button (click)="removeFormControl(i)">remove formGroup</button>
              </label>
            </div>
          </ng-container>
        </form>
        <button (click)="addFormControl()">add new user formGroup</button>-->