<div class="wrap-section">
    <div class="wrap-header" [class.bigger]="bigger">
        <img src="assets/images/logo.png">
    </div>
    <div class="wrap-buttons" *ngIf="isButtonActive && disableMb===false">
        <button mat-icon-button><mat-icon>menu</mat-icon></button>
        <button mat-flat-button (click)="signup()">
            <span>Sign up</span>
            <mat-icon>app_registration</mat-icon>
        </button>
        <button mat-flat-button (click)="login()">
            <span>Log In</span>
            <mat-icon>login</mat-icon>
        </button>
    </div>
</div>