<div id="wrap-sign-up">

    <header [bigger]="true"></header>
    <div class="wrapdiv">
        <div class="explaination">
            <p>
              <mat-icon>tips_and_updates</mat-icon>Log in and rent or lease a parking easily
            </p>
          </div>
        <form novalidate (submit)="SignUp(frm)" #frm="ngForm">

            <mat-form-field appearance="legacy">
                <input value="" placeholder="User Name" matInput name="Username" [(ngModel)]="newUser.Username"
                    type="text" #username="ngModel" required minlength="5" maxlength="20">
                <mat-error *ngIf="username.invalid">{{getErrorMessage(username)}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" name="UserPassword"
                    [(ngModel)]="newUser.UserPassword" type="password" #userpassword="ngModel" required minlength="5"
                    maxlength="12">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="userpassword.invalid">{{getErrorMessage(userpassword)}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <input [(ngModel)]="newUser.UserEmail" name="UserEmail" required type="email" matInput
                    [formControl]="emailFormControl" placeholder="Ex.pat@example.com">
                <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessage(emailFormControl)}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <input matInput placeholder="Phone Number" [(ngModel)]="newUser.UserPhoneNumber" name="UserPhoneNumber"
                    type="text" #userphone="ngModel" minlength="5" maxlength="10">
                <mat-error *ngIf="userphone.invalid">{{getErrorMessage(userphone)}}</mat-error>
            </mat-form-field>

            <button mat-flat-button class="submit-button" type="submit" [disabled]="!frm.valid" selected>
                <span>Register</span>
                <mat-icon>app_registration</mat-icon>
            </button>
        </form>

    </div>

    <div class="wrap-bottom">
        <label>Already have an account?
            <span class="link" id="login" (click)="LogIn()"> Log In</span>
        </label>
    </div>
    
</div>