<div *ngIf="checkifIs()">
<div *ngFor="let result of resultslist; let i = index;">
<mat-card class="wrap-div">
    <mat-card-header>
      <mat-card-title>Search result for request on {{searches[i].SearchDate}}</mat-card-title>
      <mat-card-subtitle>for address: {{searches[i].SearchDate}}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
  <div>Price: {{pspots[i].PricePerHour}}/h</div> 
  <div *ngIf="(pspots[i].SpotWidth!=0)&&(pspots[i].SpotWidth!=null)">
     Parking spot width: {{pspots[i].SpotWidth}}
  </div>
  <div *ngIf="(pspots[i].SpotLength!=0)&&(pspots[i].SpotLength!=null)">
    Parking spot length: {{pspots[i].SpotLength}}
 </div>
 <div *ngIf="pspots[i].HasRoof===true">
    Parking spot has a roof
 </div>
 <div>Free hours:</div>
  <div *ngIf="schedulelst[i].SundayHours!=null">
      <div>Sunday:</div>
    <div *ngFor="let hours of schedlst[i].SundayHours;">
      <div >{{hours.StartHour}} - {{hours.EndHour}}</div>
    </div>
  </div>
  <div *ngIf="schedulelst[i].MondayHours!=null">
    <div>Monday:</div>
    <div *ngFor="let hours of schedlst[i].MondayHours;">
      <div >{{hours.StartHour}} - {{hours.EndHour}}</div>
  </div>
</div>
<div *ngIf="schedulelst[i].TuesdayHours!=null">
    <div>Tuesday:</div>
  <div *ngFor="let hours of schedlst[i].TuesdayHours;">
    <div >{{hours.StartHour}} - {{hours.EndHour}}</div>
  </div>
</div>
<div *ngIf="schedulelst[i].WednesdayHours!=null">
    <div>Wednesday:</div>
  <div *ngFor="let hours of schedlst[i].WednesdayHours;">
    <div >{{hours.StartHour}} - {{hours.EndHour}}</div>
  </div>
</div>
<div *ngIf="schedulelst[i].ThursdayHours!=null">
    <div>Thursday:</div>
  <div *ngFor="let hours of schedlst[i].ThursdayHours;">
    <div >{{hours.StartHour}} - {{hours.EndHour}}</div>
  </div>
</div>
<div *ngIf="schedulelst[i].FridayHours!=null">
    <div>Friday:</div>
  <div *ngFor="let hours of schedlst[i].FridayHours;">
    <div >{{hours.StartHour}} - {{hours.EndHour}}</div>
  </div>
</div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="selectResult(i)" >Select</button>
    </mat-card-actions>
  </mat-card>
  <br/>
  </div>
</div>
<div *ngIf="doesnthave===true">
    You don't have any results yet
</div>