<div class="wrap-reg-search-details">
  <header [isButtonActive]="false"></header>
  <custom-title text="Regularly renting parking spot search results"></custom-title>
  <div *ngIf="checkifIs()">
    <div *ngFor="let result of resultslist; let i = index;">
      <mat-card class="wrap-div">
        <mat-card-header>
          <mat-card-title>Search result for request on <span class="blue">{{searches[i].SearchDate | date: 'H:mm dd/MM/yyyy'}}</span></mat-card-title>
          <mat-card-subtitle>for address: <span class="blue">{{searches[i].MyLocationAddress}}</span></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div><span class="blue">{{users[i].Username}}'s parking spot</span></div>
          <div>Price: <span class="blue">{{pspots[i].PricePerHour}}/h</span></div>
          <div *ngIf="(pspots[i].SpotWidth!=0)&&(pspots[i].SpotWidth!=null)">
            Parking spot width: <span class="blue">{{pspots[i].SpotWidth}}</span>
          </div>
          <div *ngIf="(pspots[i].SpotLength!=0)&&(pspots[i].SpotLength!=null)">
            Parking spot length: {{pspots[i].SpotLength}}
          </div>
          <div *ngIf="pspots[i].HasRoof===true">
            <span class="blue">Parking spot has a roof</span>
          </div>
          <div class="section-title">Free hours</div>
          <div *ngIf="schedulelst[i].SundayHours!=null">
            <div>Sunday:</div>
            <div *ngFor="let hours of schedulelst[i].SundayHours;">
              <div><span class="blue">{{hours.StartHour}} - {{hours.EndHour}}</span></div>
            </div>
          </div>
          <div *ngIf="schedulelst[i].MondayHours!=null">
            <div>Monday:</div>
            <div *ngFor="let hours of schedulelst[i].MondayHours;">
              <div><span class="blue">{{hours.StartHour}} - {{hours.EndHour}}</span></div>
            </div>
          </div>
          <div *ngIf="schedulelst[i].TuesdayHours!=null">
            <div>Tuesday:</div>
            <div *ngFor="let hours of schedulelst[i].TuesdayHours;">
              <div><span class="blue">{{hours.StartHour}} - {{hours.EndHour}}</span></div>
            </div>
          </div>
          <div *ngIf="schedulelst[i].WednesdayHours!=null">
            <div>Wednesday:</div>
            <div *ngFor="let hours of schedulelst[i].WednesdayHours;">
              <div><span class="blue">{{hours.StartHour}} - {{hours.EndHour}}</span></div>
            </div>
          </div>
          <div *ngIf="schedulelst[i].ThursdayHours!=null">
            <div>Thursday:</div>
            <div *ngFor="let hours of schedulelst[i].ThursdayHours;">
              <div><span class="blue">{{hours.StartHour}} - {{hours.EndHour}}</span></div>
            </div>
          </div>
          <div *ngIf="schedulelst[i].FridayHours!=null">
            <div>Friday:</div>
            <div *ngFor="let hours of schedulelst[i].FridayHours;">
              <div><span class="blue">{{hours.StartHour}} - {{hours.EndHour}}</span></div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button class="submit-button" (click)="selectResult(i)">
            <span>Select</span>
            <mat-icon>check_circle</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
      <br />
    </div>
  </div>
  <div class="notFound" *ngIf="doesnthave===true">
    <mat-icon>mood</mat-icon>
    <p>You don't have any results yet</p>
  </div>
</div>