.wrap-details {
    width: 220px;
    margin: 25px auto 0;
    font-family: 'assistant';
    font-size: 16px;
}

.wrap-details .wrap-buttons button {
    font-family: 'assistant';
    font-size: 16px;
    color: #3373b3;
}

.wrap-buttons {
    text-align: center;
    padding-block: 10px 22px;
}

.wrap-buttons button mat-icon {
    margin-left: 6px;
}

.wrap-details span {
    color: #3373b3;
}

.wrap-details > span {
    line-height: 28px;
}

.wrap-details p span {
    padding-left: 4px;
}

p.section-title {
    margin: 12px 0 8px;
    border-bottom: solid 1px #3373b338;
    padding-block: 5px;
    color: #3373b3;
    font-size: 17px;
}

.wrap-day {
    margin-bottom: 10px;
}

.wrap-day p {
    margin: 0 0 2px;
}

.wrap-day span {
    display: block;
    line-height: 26px;
}