<div class="wrap-park-spot-details">
  <header [isButtonActive]="false"></header>
  <custom-title text="Your parking spot details"></custom-title>
  <div class="wrap-details">
    <p>Address: {{pspot.FullAddress}}</p>
    <p *ngIf="(pspot.SpotWidth!=null)&&(pspot.SpotWidth!=0)">Width: {{pspot.SpotWidth}}</p>
    <p *ngIf="(pspot.SpotLength!=null)&&(pspot.SpotLength!=0)">Length: {{pspot.SpotLength}}</p>
    <p>Price:{{pspot.PricePerHour}} /h</p>
    <!--*ngIf=""-->
    <span>Your parking spot has roof</span>
    <p class="section-title">Schedule:</p>
    <div class="wrap-day" *ngIf="schedule.SundayHours!=null">
      <p>Sunday:</p>
      <span *ngFor="let hours of schedule.SundayHours;">
        {{hours.StartHour}} - {{hours.EndHour}}
      </span>
    </div>
    <div class="wrap-day" *ngIf="schedule.MondayHours!=null">
      <p>Monday:</p>
      <span *ngFor="let hours of schedule.MondayHours;">
        {{hours.StartHour}} - {{hours.EndHour}}
      </span>
    </div>
    <div class="wrap-day" *ngIf="schedule.TuesdayHours!=null">
      <p>Tuesday:</p>
      <span *ngFor="let hours of schedule.TuesdayHours;">
        {{hours.StartHour}} - {{hours.EndHour}}
      </span>
    </div>
    <div class="wrap-day" *ngIf="schedule.WednesdayHours!=null">
      <p>Wednesday:</p>
      <span *ngFor="let hours of schedule.WednesdayHours;">
        {{hours.StartHour}} - {{hours.EndHour}}
      </span>
    </div>
    <div class="wrap-day" *ngIf="schedule.ThursdayHours!=null">
      <p>Thursday:</p>
      <span *ngFor="let hours of schedule.ThursdayHours;">
        {{hours.StartHour}} - {{hours.EndHour}}
      </span>
    </div>
    <span *ngIf="pspot.AvRegularly==true">You want rent out your parking spot regularly</span>
  </div>
  <!--*ngIf=""-->

  <div class="wrap-buttons">
    <button mat-flat-button (click)="update()">
      <span>Update</span>
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-flat-button (click)="add()">
      <span>Add</span>
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>

</div>