<div>You parking spot details:</div>
<div>Address: {{pspot.FullAddress}}</div>
<div>Width: {{pspot.SpotWidth}}</div>
<div>Length: {{pspot.SpotLength}}</div>
<div>Price:{{pspot.SpotWidth}} /h</div>
<!--*ngIf=""-->
<div>Your parking spot has roof</div>
<div>Schedule:</div>
<div *ngIf="schedule.SundayHours!=null">
    <div>Sunday:</div>
    <div *ngFor="let hours of schedule.SundayHours;">
      <div>{{hours.StartHour}} - {{hours.EndHour}}</div>
    </div>
  </div>
  <div *ngIf="schedule.MondayHours!=null">
    <div>Monday:</div>
    <div *ngFor="let hours of schedule.MondayHours;">
      <div>{{hours.StartHour}} - {{hours.EndHour}}</div>
    </div>
  </div>
  <div *ngIf="schedule.TuesdayHours!=null">
    <div>Tuesday:</div>
    <div *ngFor="let hours of schedule.TuesdayHours;">
      <div>{{hours.StartHour}} - {{hours.EndHour}}</div>
    </div>
  </div>
  <div *ngIf="schedule.WednesdayHours!=null">
    <div>Wednesday:</div>
    <div *ngFor="let hours of schedule.WednesdayHours;">
      <div>{{hours.StartHour}} - {{hours.EndHour}}</div>
    </div>
  </div>
  <div *ngIf="schedule.ThursdayHours!=null">
    <div>Thursday:</div>
    <div *ngFor="let hours of schedule.ThursdayHours;">
      <div>{{hours.StartHour}} - {{hours.EndHour}}</div>
    </div>
  </div>
  <div *ngIf="schedule.FridayHours!=null">
    <div>Friday:</div>
    <div *ngFor="let hours of schedule.FridayHours;">
      <div>{{hours.StartHour}} - {{hours.EndHour}}</div>
    </div>
  </div>
<!--*ngIf=""--><div>You want rent out your parking spot regularly, too</div>

<button (click)="update()">Update</button><button (click)="add()">Add</button>