<div *ngIf="disable==true" id="logIn">

  <header [bigger]="true"></header>
  <div class="wrapdiv">

    <div class="explaination">
      <p>
        <mat-icon>tips_and_updates</mat-icon>Log in and rent or lease a parking easily
      </p>
    </div>
    <form novalidate (submit)="enter(frm)" #frm="ngForm">
      <!-- user name -->
      <mat-form-field appearance="legacy">
        <input value="" placeholder="User Name" matInput name="Username" [(ngModel)]="newUser.Username" type="text"
          #username="ngModel" required minlength="5" maxlength="20">
        <mat-error *ngIf="username.invalid">{{getErrorMessage(username)}}</mat-error>
      </mat-form-field>
      <!-- password -->
      <mat-form-field appearance="legacy">
        <input matInput placeholder="Password" name="UserPassword" [(ngModel)]="newUser.UserPassword" type="password"
          #userpassword="ngModel" required minlength="5" maxlength="12">
        <mat-error *ngIf="userpassword.invalid">{{getErrorMessage(userpassword)}}</mat-error>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <!-- submit button -->
      <button mat-flat-button class="submit-button" color="primary" type="submit" [disabled]="!frm.valid" selected>
        <span>Log In</span>
        <mat-icon>login</mat-icon>
      </button>
    </form>

  </div>

  <div class="wrap-bottom">
    <span>Forgot your password?</span>
    <label>Don't have an account?
      <span class="link" *ngIf="disable==true" id="signUp" (click)="SignUp()"> Create one!</span>
    </label>
  </div>

</div>