.container{
  grid-template-columns: 80px 5px 80px 25px;
    grid-column-gap: 10px;
    align-items: baseline;
    width: 220px;
    margin-inline: auto;
}

.wrap-range mat-form-field {
  width: 80px;
}

button.mat-button-disabled {
  background-color: #8fbbe2 !important;
  color: #ffffff !important;
  font-weight: 400;
}

button.btnOK {
  margin: auto;
  width: 250px;
  margin-block: 0 40px;
  background-color: #3373b3;
  color: #ffffff;
  font-size: 17px;
  font-family: assistant;
}

button.btnOK span {
  margin-right: 7px;
}
