.container{
  position: fixed;
  top: 50%;
  left: 50%; 
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
  width:80%;
 }
 
::ng-deep .mat-input-wrapper{
 width:140px !important;
}

.wrap-add-regular-search {
text-align: center;
display: grid;
}

mat-form-field {
margin-inline: auto;
padding-bottom: 5px;
font-family: assistant;
width: 220px;
}

.wrap-checkboxes {
display: grid;
text-align: left;
margin: 5px auto 15px;
width: 220px;
grid-row-gap: 7px;
}

.wrap-prices > p {
width: 220px;
margin: 20px auto 0;
text-align: left;
}

.wrap-range {
display: grid;
  grid-template-columns: 90px 10px 90px 30px;
  grid-column-gap: 10px;
  align-items: baseline;
  width: fit-content;
  margin-inline: auto;
}

.wrap-range mat-form-field {
width: 90px;
}

button.mat-button-disabled {
background-color: #8fbbe2 !important;
color: #ffffff !important;
font-weight: 400;
}

button.btnOK {
  margin: auto;
  width: 250px;
  margin-block: 0 40px;
  background-color: #3373b3;
  color: #ffffff;
  font-size: 17px;
  font-family: assistant;
}

button.btnOK span {
margin-right: 7px;
}
