/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-error {
    color: red;
    font-size: 13px;
}
@font-face {
    font-family: assistant;
    src: url(assets/fonts/Assistant-Regular.ttf) format("opentype");
  }

.mat-list-item-content {
    display: none;
    padding: 0 !important;
}
